@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@keyframes pulseGreen {
    0% {
        box-shadow: none;
    }

    30% {
        box-shadow: inset 0 0 60px rgb(32, 178, 137);
    }

    100% {
        box-shadow: none;
    }
}

@keyframes pulseRed {
    0% {
        box-shadow: none;
    }

    30% {
        box-shadow: inset 0 0 60px rgb(181, 63, 63);
    }

    100% {
        box-shadow: none;
    }
}

@keyframes pulseGray {
    0% {
        box-shadow: none;
    }

    30% {
        box-shadow: inset 0 0 60px rgb(174, 207, 220);
    }

    100% {
        box-shadow: none;
    }
}

@keyframes slideInPlayer {
    0% {
        right: -70px;
    }

    100% {
        right: 10px;
    }
}

@keyframes slideInComputer {
    0% {
        left: -70px;
    }

    100% {
        left: 10px;
    }
}

* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

.root {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: rgb(249 249 245);
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.messages-container {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    text-align: center;
}

.round {
    margin: 10px;
    font-weight: 900;
    font-size: 25px;
    width: 100px;
    text-align: center;
}

.circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid lightgrey;
    border-radius: 50%;
    animation-duration: 1.2s;
    animation-delay: 0.2s;
    overflow: hidden;
}

.circle img {
    width: 70px;
}

.ring {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 70px;
}

.computer-side,
.player-side {
    display: none;
    position: absolute;
}

.computer-side {
    left: 10px;
    animation-duration: 0.5s;
}

.player-side {
    right: 10px;
    animation-duration: 0.5s;
}

.show-computer-figure {
    display: block;
    animation-name: slideInComputer;
}

.show-player-figure {
    display: block;
    animation-name: slideInPlayer;
}

.round-result {
    width: 140px;
}

.score-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.score-left,
.score-right {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    border: 1px dashed lightgray;
}

.score {
    font-weight: 700;
    font-size: 2em;
}

.buttons-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.buttons-container button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin: 5px;
    padding: 5px;
    background: none;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.buttons-container button:active {
    transform: scale(1.1);
}

.buttons-container img {
    width: 100%;
}

.controls {
    display: flex;
}

.hidden {
    display: none !important;
}

.pulse-green {
    animation-name: pulseGreen;
}

.pulse-red {
    animation-name: pulseRed;
}

.pulse-gray {
    animation-name: pulseGray;
}